In [5]:
import datetime as dt

import numpy as np

import os, sys
sys.path.append(os.path.abspath('../../main/python'))
import thalesians.tsa.utils as utils

# `sign`

In [5]:
utils.sign(-10)

-1

In [8]:
utils.sign(0)

0

In [6]:
utils.sign(10)

1

In [7]:
utils.sign(-10.)

-1.0

In [9]:
utils.sign(0.)

0.0

In [10]:
utils.sign(10.)

1.0

In [13]:
utils.sign(dt.date(2017, 11, 7) - dt.date(2017, 11, 8))

-1.0

In [15]:
utils.sign(dt.date(2017, 11, 8) - dt.date(2017, 11, 8))

0.0

In [16]:
utils.sign(dt.date(2017, 11, 8) - dt.date(2017, 11, 7))

1.0

In [18]:
utils.sign(dt.datetime(2017, 11, 8, 17, 27) - dt.datetime(2017, 11, 8, 17, 28))

-1.0

In [19]:
utils.sign(dt.datetime(2017, 11, 8, 17, 28) - dt.datetime(2017, 11, 8, 17, 28))

0.0

In [20]:
utils.sign(dt.datetime(2017, 11, 8, 17, 28) - dt.datetime(2017, 11, 8, 17, 27))

1.0

In [21]:
utils.sign([-10., 0., 10.])

array([-1.,  0.,  1.])

In [24]:
utils.sign(np.array([
    utils.sign(dt.datetime(2017, 11, 8, 17, 27) - dt.datetime(2017, 11, 8, 17, 28)),
    utils.sign(dt.datetime(2017, 11, 8, 17, 28) - dt.datetime(2017, 11, 8, 17, 28)),
    utils.sign(dt.datetime(2017, 11, 8, 17, 28) - dt.datetime(2017, 11, 8, 17, 27))
]))

array([-1.,  0.,  1.])

# `xbatch` and `batch`

In [29]:
for x in utils.xbatch(2, range(10)):
    print(x)

range(0, 2)
range(2, 4)
range(4, 6)
range(6, 8)
range(8, 10)

In [32]:
for x in utils.xbatch(3, ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']):
    print(x)

['Jan', 'Feb', 'Mar']
['Apr', 'May', 'Jun']
['Jul', 'Aug', 'Sep']
['Oct', 'Nov', 'Dec']

In [33]:
for x in utils.xbatch(3, ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
                          'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec')):
    print(x)

('Jan', 'Feb', 'Mar')
('Apr', 'May', 'Jun')
('Jul', 'Aug', 'Sep')
('Oct', 'Nov', 'Dec')

In [34]:
for x in utils.xbatch(2, np.array(range(10))):
    print(x)

[0 1]
[2 3]
[4 5]
[6 7]
[8 9]

In [35]:
utils.xbatch(2, range(10))

In [36]:
utils.batch(2, range(10))

[range(0, 2), range(2, 4), range(4, 6), range(6, 8), range(8, 10)]

In [131]:
utils.batch(3, [429, 5, 2, 14, 42, 132, 1, 1])

[[429, 5, 2], [14, 42, 132], [1, 1]]

In [132]:
utils.batch(4, range(10))

[range(0, 4), range(4, 8), range(8, 10)]

# `peek`

In [47]:
it = utils.xbatch(2, range(10))
first_three, new_it = utils.peek(it, 3)
print('First three:', first_three)
print('Iterating through new_it:')
for x in new_it:
    print(x)
print('Iterating through it:')
for x in it:
    print(x)

First three: [range(0, 2), range(2, 4), range(4, 6)]
Iterating through new_it:
range(0, 2)
range(2, 4)
range(4, 6)
range(6, 8)
range(8, 10)
Iterating through it:

In [48]:
it = utils.xbatch(2, range(10))
first_three, new_it = utils.peek(it, 3)
print('First three:', first_three)
print('Iterating through it:')
for x in it:
    print(x)

First three: [range(0, 2), range(2, 4), range(4, 6)]
Iterating through it:
range(6, 8)
range(8, 10)

# `bracket`

In [117]:
data = [8, 11, 12, 13, 14, 27, 29, 37, 49, 50, 51, 79, 85]

<pre>
          1    1    2    2    3    3    4    4    5    5    6    6    7    7    8    8    9
0----5----0----5----0----5----0----5----0----5----0----5----0----5----0----5----0----5----0
   [0   [1   [2   [3   [4   [5   [6   [7   [8   [9   [10  [11  [12  [13  [14  [15  [16  [17
   ]0   ]1   ]2   ]3   ]4   ]5   ]6   ]7   ]8   ]9   ]10  ]11  ]12  ]13  ]14  ]15  ]16  ]17
        ^  ^^^^            ^ ^       ^           ^^^                           ^     ^
        |  ||||            | |       |           |||                           |     |
</pre>

In [118]:
utils.bracket(data, 3, 5)

([{[8, 13), 1},
  {[13, 18), 2},
  {[23, 28), 4},
  {[28, 33), 5},
  {[33, 38), 6},
  {[48, 53), 9},
  {[78, 83), 15},
  {[83, 88), 16}],
 [0, 0, 0, 1, 1, 2, 3, 4, 5, 5, 5, 6, 7])

In [119]:
utils.bracket(data, 3, 5, intervals_right_closed=True)

([{(3, 8], 0},
  {(8, 13], 1},
  {(13, 18], 2},
  {(23, 28], 4},
  {(28, 33], 5},
  {(33, 38], 6},
  {(48, 53], 9},
  {(78, 83], 15},
  {(83, 88], 16}],
 [0, 1, 1, 1, 2, 3, 4, 5, 6, 6, 6, 7, 8])

In [120]:
utils.bracket(data, 3, 5, coalesce=True)

([{[8, 18), 1}, {[23, 38), 4}, {[48, 53), 9}, {[78, 88), 15}],
 [0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3])

In [121]:
utils.bracket(data, 3, 5, intervals_right_closed=True, coalesce=True)

([{(3, 18], 0}, {(23, 38], 4}, {(48, 53], 9}, {(78, 88], 15}],
 [0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3])

In [122]:
data = [dt.date(2017, 1, 31) + dt.timedelta(days=x) for x in [8, 11, 12, 13, 14, 27, 29, 37, 49, 50, 51, 79, 85]];
data

[datetime.date(2017, 2, 8),
 datetime.date(2017, 2, 11),
 datetime.date(2017, 2, 12),
 datetime.date(2017, 2, 13),
 datetime.date(2017, 2, 14),
 datetime.date(2017, 2, 27),
 datetime.date(2017, 3, 1),
 datetime.date(2017, 3, 9),
 datetime.date(2017, 3, 21),
 datetime.date(2017, 3, 22),
 datetime.date(2017, 3, 23),
 datetime.date(2017, 4, 20),
 datetime.date(2017, 4, 26)]

In [113]:
utils.bracket(data, dt.date(2017, 2, 3), dt.timedelta(days=5))

([{[2017-02-08, 2017-02-13), 1},
  {[2017-02-13, 2017-02-18), 2},
  {[2017-02-23, 2017-02-28), 4},
  {[2017-02-28, 2017-03-05), 5},
  {[2017-03-05, 2017-03-10), 6},
  {[2017-03-20, 2017-03-25), 9},
  {[2017-04-19, 2017-04-24), 15},
  {[2017-04-24, 2017-04-29), 16}],
 [0, 0, 0, 1, 1, 2, 3, 4, 5, 5, 5, 6, 7])

In [116]:
utils.bracket(data, dt.date(2017, 2, 3), dt.timedelta(days=5), intervals_right_closed=True)

([{(2017-02-03, 2017-02-08], 0},
  {(2017-02-08, 2017-02-13], 1},
  {(2017-02-13, 2017-02-18], 2},
  {(2017-02-23, 2017-02-28], 4},
  {(2017-02-28, 2017-03-05], 5},
  {(2017-03-05, 2017-03-10], 6},
  {(2017-03-20, 2017-03-25], 9},
  {(2017-04-19, 2017-04-24], 15},
  {(2017-04-24, 2017-04-29], 16}],
 [0, 1, 1, 1, 2, 3, 4, 5, 6, 6, 6, 7, 8])

In [123]:
utils.bracket(data, dt.date(2017, 2, 3), dt.timedelta(days=5), coalesce=True)

([{[2017-02-08, 2017-02-18), 1},
  {[2017-02-23, 2017-03-10), 4},
  {[2017-03-20, 2017-03-25), 9},
  {[2017-04-19, 2017-04-29), 15}],
 [0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3])

In [124]:
utils.bracket(data, dt.date(2017, 2, 3), dt.timedelta(days=5), intervals_right_closed=True, coalesce=True)

([{(2017-02-03, 2017-02-18], 0},
  {(2017-02-23, 2017-03-10], 4},
  {(2017-03-20, 2017-03-25], 9},
  {(2017-04-19, 2017-04-29], 15}],
 [0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3])

In [125]:
data = [dt.datetime(2017, 1, 31, 0, 0, 0) + dt.timedelta(minutes=x) for x in [8, 11, 12, 13, 14, 27, 29, 37, 49, 50, 51, 79, 85]];
data

[datetime.datetime(2017, 1, 31, 0, 8),
 datetime.datetime(2017, 1, 31, 0, 11),
 datetime.datetime(2017, 1, 31, 0, 12),
 datetime.datetime(2017, 1, 31, 0, 13),
 datetime.datetime(2017, 1, 31, 0, 14),
 datetime.datetime(2017, 1, 31, 0, 27),
 datetime.datetime(2017, 1, 31, 0, 29),
 datetime.datetime(2017, 1, 31, 0, 37),
 datetime.datetime(2017, 1, 31, 0, 49),
 datetime.datetime(2017, 1, 31, 0, 50),
 datetime.datetime(2017, 1, 31, 0, 51),
 datetime.datetime(2017, 1, 31, 1, 19),
 datetime.datetime(2017, 1, 31, 1, 25)]

In [126]:
utils.bracket(data, dt.datetime(2017, 1, 31, 0, 3, 0), dt.timedelta(minutes=5))

([{[2017-01-31 00:08:00, 2017-01-31 00:13:00), 1},
  {[2017-01-31 00:13:00, 2017-01-31 00:18:00), 2},
  {[2017-01-31 00:23:00, 2017-01-31 00:28:00), 4},
  {[2017-01-31 00:28:00, 2017-01-31 00:33:00), 5},
  {[2017-01-31 00:33:00, 2017-01-31 00:38:00), 6},
  {[2017-01-31 00:48:00, 2017-01-31 00:53:00), 9},
  {[2017-01-31 01:18:00, 2017-01-31 01:23:00), 15},
  {[2017-01-31 01:23:00, 2017-01-31 01:28:00), 16}],
 [0, 0, 0, 1, 1, 2, 3, 4, 5, 5, 5, 6, 7])

In [127]:
utils.bracket(data, dt.datetime(2017, 1, 31, 0, 3, 0), dt.timedelta(minutes=5), intervals_right_closed=True)

([{(2017-01-31 00:03:00, 2017-01-31 00:08:00], 0},
  {(2017-01-31 00:08:00, 2017-01-31 00:13:00], 1},
  {(2017-01-31 00:13:00, 2017-01-31 00:18:00], 2},
  {(2017-01-31 00:23:00, 2017-01-31 00:28:00], 4},
  {(2017-01-31 00:28:00, 2017-01-31 00:33:00], 5},
  {(2017-01-31 00:33:00, 2017-01-31 00:38:00], 6},
  {(2017-01-31 00:48:00, 2017-01-31 00:53:00], 9},
  {(2017-01-31 01:18:00, 2017-01-31 01:23:00], 15},
  {(2017-01-31 01:23:00, 2017-01-31 01:28:00], 16}],
 [0, 1, 1, 1, 2, 3, 4, 5, 6, 6, 6, 7, 8])

In [128]:
utils.bracket(data, dt.datetime(2017, 1, 31, 0, 3, 0), dt.timedelta(minutes=5), coalesce=True)

([{[2017-01-31 00:08:00, 2017-01-31 00:18:00), 1},
  {[2017-01-31 00:23:00, 2017-01-31 00:38:00), 4},
  {[2017-01-31 00:48:00, 2017-01-31 00:53:00), 9},
  {[2017-01-31 01:18:00, 2017-01-31 01:28:00), 15}],
 [0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3])

In [129]:
utils.bracket(data, dt.datetime(2017, 1, 31, 0, 3, 0), dt.timedelta(minutes=5), intervals_right_closed=True, coalesce=True)

([{(2017-01-31 00:03:00, 2017-01-31 00:18:00], 0},
  {(2017-01-31 00:23:00, 2017-01-31 00:38:00], 4},
  {(2017-01-31 00:48:00, 2017-01-31 00:53:00], 9},
  {(2017-01-31 01:18:00, 2017-01-31 01:28:00], 15}],
 [0, 0, 0, 0, 0, 1, 1, 1, 2, 2, 2, 3, 3])